<mat-sidenav-container
  class="sidenav-container"  (backdropClick)="close()">
    <mat-sidenav class="sidenav" #sidenav (keydown.escape)="close()" [mode]="isScreenSmall ? 'over' : 'side'"
    [opened]="!isScreenSmall"  disableClose>
    @if(isScreenSmall) {
      <p><button mat-button (click)="close()">Close</button></p>
    }
      <mat-nav-list>
        <mat-list-item>
          <div mat-button (click)="isScreenSmall ? sidenav.close() : ''" [routerLink]="['/home']">Home</div>
        </mat-list-item>
        <mat-list-item>
          <div mat-button (click)="isScreenSmall ? sidenav.close() : ''" [routerLink]="['/search-division']">Division</div>
        </mat-list-item>
        <mat-list-item>
          <div mat-button (click)="isScreenSmall ? sidenav.close() : ''" [routerLink]="['/time-reports']">Time Reports</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

  <mat-sidenav-content class="page">

    <div class="sticky">
      <app-header (sendEventToParent)="eventFromChild()"></app-header>
    </div>

    <div class="wrapper-app content">
      <!-- <app-user-content-layout></app-user-content-layout> -->
      <!-- <app-main-content></app-main-content> -->
       <router-outlet></router-outlet>
    <div>
   
    </div></div>
    <footer class="footer">
      <app-footer></app-footer>
    </footer>

 
