.sticky {
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  flex: 0 65px
}
.wrapper-app {
    flex: 0 65px;
    margin: 0px 0px 0px 0px;
}
.content {
    z-index:2;
}

.sticky + .content {
  padding-top: 85px;
}

footer {
  background-color: rgb(206, 206, 206);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  z-index: 4;
  text-align:center;
  padding-top: 5px;
}

.sidenav-container{
  height: 100%;
  top:0;
  left:0;
  bottom:0;
  z-index: 1000;
}

.sidenav{
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  z-index: 1000;
  width: 250px;
  overflow: auto;
  background-color: gainsboro;
}

.page{
  overflow: hidden;
}