table {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word; 
}
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  max-width: 20%;
  flex: 1 1 20%;
}

td, th {
  width: 25%;
  word-wrap: break-word; 
}